* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* En-tête */
  header {
    background-color: #000361;
    color: #f2ae01;
    padding: 1rem;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo a {
    color: #f2ae01;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 1rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3;
  }
  
  .nav-links a:hover {
    color: #f2ae01;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
  }

  /* Pied de page */
footer {
    background-color: #000361;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 10px;
  }
  
  /* Responsive */
  @media (max-width: 968px) {
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links li {
      margin: 1rem 0;
      padding: 0.3rem;
      width: 100%;
      box-shadow: 0 2px 4px rgba(255, 255, 255, 0.7);
    }
  
    .burger {
      display: block;
    }
  
    .nav-active {
      display: flex;
    }
  
    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .toggle .line2 {
      opacity: 0;
    }
  
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
    header {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 999;
    }
  
    main {
      padding-top: 4rem; 
    }
  } 


/* Styles pour la section "Nos services" */
.services {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
  }

  .services h1 {
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 900;
    padding: 8px;
    margin:  42px;
    color: #f2ae01;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    animation: customAni 2s ease 0s infinite normal none;
  }
  /* Copy this code after the above code */
@keyframes customAni {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
  
  .service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
  
  .service-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f2ae01;
  }
  
  .service-card i {
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .service-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .service-card p {
    font-size: 16px;
    color: #666;
  }
  